<div id="homepage">
	<img src="https://s3.amazonaws.com/saragallery/sara.jpg" alt="">
	<p class="infotop"> lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eos, illo facilis accusamus expedita voluptatem amet unde repellat autem voluptates, vitae ea saepe suscipit, possimus provident excepturi quibusdam in quasi?</p>

	<p class="infobottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis earum id commodi animi, perferendis, alias corporis delectus explicabo pariatur. Omnis ullam quas voluptatem, eveniet maiores vitae ab explicabo. Sit, accusantium.</p>
</div>