<% content_for(:body_attributes) do %>
data-no-turbolink="true"
<% end %>

<div id="homepage">
	<img src="https://s3.amazonaws.com/saragallery/sara.jpg" alt="">
	<p class="infotop"> Hi. My name is <em>Sara</em> and I am happy to present you with what I love to fill my time doing. 
		I  used to live in Jeddah, Saudi Arabia. To me it will always be my home.  My husband, family, culture and country play major inspiration to what I create. 
		Ever since I was young I had a passion for art which is the reason I chose Graphic Design for my Bachelor's degree. I graduated in 2009 and took on a couple of jobs and after that i started oil painting. I felt like I wanted to continue and pursue my dream of having a gallery.</p>

		<p class="infobottom">I got married in 2014 and moved to Canada with my husband. Now I feel settled in Toronto and will continue working on what I enjoy doing most. I combine my artwork and my graphic skills to present various design ideas. I am constantly investigating how to make meaning of different issues by giving them solutions in my own creative way as well as learning how to become better in what I do.</p>
	</div>