<!-- <div class="container">
	<div class="row">
		<%# @paintings.each do |painting| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="<%#= painting.image_url %>" alt="...">
				<div class="caption">
					<h3> <%#= link_to painting.title, painting_path(painting) %> </h3>
					<p><%#= painting.description %></p>
				</div>
				<%# if painting.addedToCart(painting) %>
				<h1 style="color:red">SOLD</h1>
				<%# end %>
			</div>
		</div>
		<%# end %>
	</div>
-->
<div id="book-container">
	<div id="book">
		<img src="https://s3.amazonaws.com/saragallery/gal.jpg" alt="">
		<% @paintings.each do |painting| %>
		<div class="page" style="background-image: url('<%= painting.image_url%>');">
		<div class="mask">
				<h2><%= link_to painting.title, painting_path(painting) %></h2>
			</div>
			<img src="<%= painting.image_url%>" alt="">
		</div>
		<% end %>
	</div>

</div>