<% content_for :javascript_includes do %>
  <%= javascript_include_tag "paintings" %>
<% end %>

<div id="main-container">
	<div id="book-container">
		<div id="book">
			<div class="coverback hard">
				<img src="https://s3.amazonaws.com/saragallery/paintingcover.png" alt="">
			</div>
			<% @paintings.each do |painting| %>
			<div class="page" style="background-image: url('<%= painting.image_url%>');">
				<div class="mask">
					<h2><%= link_to painting.title, painting_path(painting) %></h2>
				</div>
				<img src="<%= painting.image_url%>" alt="">
			</div>
			<% end %>
			<div class="coverback hard">
				<img src="https://s3.amazonaws.com/saragallery/backcover.png" alt="">
			</div>
		</div>
	</div>
</div>