<div class="container-fluid fill">
	<div class="thumbnail">
		<%= image_tag @painting.image_url(:large) %>
		<div class="caption text-center">
			<h1> <%= @painting.title %> </h1>
			<p><%= @painting.description %></p>
			<a href="mailto:saragazzaz@gmail.com?subject=Regarding <%= @painting.title%>" target="_top">
				<button class="btn btn-success">Contact Me about it</button>
			</a>
		</div>
	</div>