<div class="container-fluid fill">
	<div class="thumbnail">
		<%= image_tag @painting.image_url(:large) %>
		<div class="caption text-center">
			<h1> <%= @painting.title %> </h1>
			<p><%= @painting.description %></p>
		</div>
		<% if @painting.addedToCart(@painting) %>
		<h1 style="color:red">SOLD</h1>
		<% else %>
		<%= button_to "Add to Cart", orders_path(:order => {user_id: current_user.id, painting_id: @painting}), {:class => "btn btn-success" } %>
		<% end %>
	</div>
</div>