body {
	background: url("https://s3.amazonaws.com/saragallery/backCropped.bmp") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: hidden;
}

body.overflow {
	overflow: auto;
}

.logo {
	position: absolute;
}

.fullname {
	color: #626366;
}

.firstList {
	margin-top: 120px;
}

.errors {
	background-color: red;
	color: white;
}

li:hover {
	color: black;
}

/* Homepage Section*/

#homepage {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 45%;
	min-width: 480px;
	max-width: 500px;
	height: 700px;
	margin: auto;
	background-color: white;
	overflow: hidden;
}

#homepage img {
	width: 100%;
	height: 100%;
}

#aboutme img {
	width: 40%;
	height: 40%;
	float: left;
	margin: 5% 5% 2%;
}

.infotop {
	line-height: 26px;
	margin: 5% 10%;
	color: #626366;
	font-size: 15px;
}

.infobottom {
	line-height: 27px;
	margin: 5% 10%;
	color: #626366;
	font-size: 15px;
}


/* Magazine-book CSS */

#main-container {
	visibility: hidden;
}

#book-container {
	margin: 0 20px;
}

#book {
	margin: 0 2%;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.page{
		background-size: cover;
		background-position: center center;
	}
}

.coverback img{
	opacity: 1 !important;
}

.page img{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: contain;
	opacity: 0;
	background-repeat: no-repeat;
}

.mask {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 99;
	a {
		font-family: helvetica;
		color: oldlace;
		font-family: 'Cinzel', serif;
	}
}

.login {
	width: 800px;
	height: 800px;
	margin: auto;
}

.form-horizontal {
	position: relative;
}

/*Show page*/

.thumbnail {
	background-color: transparent;
	border: none;
}

#email {
	margin: auto;
}

#password {
	margin: auto;
}

.login {
	display: block;
	width: 50%;
	height: 50%;
	margin: auto;
}
.center{
	margin: auto;
	width: 200px;
	display: block;
}

.reglog {
	width: 400px;
	height: 400px;
	margin: auto;
}

/*Responsive*/

@media screen and (max-width: 640px) {
	#homepage {
		min-width: 395px;
		height: 508px;
		margin: auto;
		overflow: hidden;
		z-index: -1;
		opacity: 0.9;
	}

	#homepage img {
		width: 30%;

		float: left;
		margin: 5% 5%;
	}

	#book-container {
		margin: 0;
	}

	.infotop {
		line-height: 20px;
		margin: 5% 2%;
		font-size: 12px;
		width: 88%;
	}

	.infobottom {
		line-height: 20px;
		margin: 10% 2%;
		font-size: 12px;
		width: 88%;
	}
}