body {
	background-image: url("https://s3.amazonaws.com/saragallery/5.jpg");
}

/* Homepage Section*/

#homepage {
	width: 480px;
	height: 680px;
	margin: auto;
	background-color: black;
	overflow: hidden;
}

#homepage img {
	width: 40%;
	height: 40%;
	float: left;
	margin: 5% 5%;
}

.infotop {
	line-height: 20px;
	margin: 10% 10%;
}

.infobottom {
	line-height: 40px;
	margin: 15% 10%;
}

/* Magazine-book CSS */

#book-container {
	overflow: hidden;
	display: block;
	width: 960px;
	height: 720px;
	margin: auto;
}

#book {
	width: 100%;
	height: 100%;
	.page{
		background-size: cover;
		background-position: center center;
	}
}

.coverback img{
	opacity: 1 !important;
}

.page img{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: contain;
	opacity: 0;
	background-repeat: no-repeat;
}

.mask {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 99;
}

.mask a {
	font-family: helvetica;
	color: oldlace;
}

.login {
	width: 800px;
	height: 800px;
	margin: auto;
}

.form-horizontal {
	position: relative;
}

/*Show page*/

#email {
	margin: auto;
}

#password {
	margin: auto;
}

.login {
	display: block;
	width: 50%;
	height: 50%;
	margin: auto;
}