<!DOCTYPE html>
<html>
<head>
	<title>Sara Gazzaz portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="main">
		<div>	
			<h1 class='coming-soon'>Coming Soon...</h1>
		</div>

		<div class="email">
			<a href="mailto:saragazzaz@gmail.com">
				<i class="fa fa-envelope fa-3x"></i>
			</a>
		</div>
	</div>	
</body>
</html>
